.el-table {
	.el-table__cell {
		div {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.el-tooltip__popper {
	max-width: 30%;
}
.el-tooltip__popper,
.el-tooltip__popper.is-dark {
	background: rgb(48, 65, 86) !important;
	color: #fff !important;
	line-height: 24px;
}
